---
import { DynamicGallery } from './DynamicGallery';
---

<section class="py-32 bg-[#FDFDFD] px-6">
  <div class="max-w-6xl mx-auto">
    <div class="text-center mb-20">
      <h2 class="text-4xl md:text-5xl font-semibold tracking-tight mb-6">Galería.</h2>
    </div>
    
    <DynamicGallery client:visible />
  </div>
</section>
